@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }

  @media (max-width: 768px) {
    html {
      scroll-behavior: auto;
    }
  }

  body {
    background-color: #f6fafd;
    font-family: "Platypi", Arial, sans-serif;
    font-weight: 400;
    margin: 0;
    padding: 0;
  }
}
